/*Resetando o navegador*/
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}
h1,
h2,
h3{
    color: #333;
}
p{
    color: #70747a;
}

/*Nav-bar*/

.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}
nav{
    position: relative;
}
.logo{
    width: 50px;
    margin-top: 15px;
}
.navbar-items{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}
.navbar-items li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}
.navbar-items a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.navbar-items a:hover{
    color: #ccc;
}
.default-btn{
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 5px;
}
.navbar-items .default-btn:hover{
    background-color: #22bb5f;
    color: #fff;
}

/*main banner*/

.main-banner{
    background-image: url("../imagem/cafeteria.jpg");
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}
.main-banner h1,
.main-banner p{
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #4d4a4a 3px 2px 3px;
}
.main-banner h1{
    font-size: 54px;
}
.main-banner p{
    font-size: 32px;
}

/*Services*/
.service-container{
    padding: 5rem 0;
}
.service-container ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.service-container li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}
.fas{
    font-size: 60px;
    margin-bottom: 15px;
}
.fa-shield-alt{
    color: #B57D28;
}
.fa-rocket{
    color: #CB9F76;
}
.fa-comments{
    color: #984113;
}
.service-container h3{
    margin-bottom: 25px;
}
.service-container p{
    line-height: 24px;
}

/*precos e cardapios*/

.cardapio-container{
    padding-bottom: 5rem;
    text-align: center;
}
.cardapio-container h2{
    font-size: 20px;
}
.cardapio-container p{
    font-size: 16px;
}
.precos-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}
.precos{
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}
.precos ul{
    padding: 0;
}
.precos li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
}
.precos .produto{
    width: 150px;
    height: 120px;
    border-radius: 50%;
    background-color: #2dc762;
    color: #fff;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}